{%extends 'base.html'%}
{%load bootstrap4%}
{%block content%}
{%include 'genNav.html'%}

<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <p class="alert alert-success">Neighbour hoods</p>
      {%for hud in hoods%}
        <ul class="list-group">
          <a href="#"><li class="list-group-item">{{hud.name}}</li></a>

        </ul>
      {%endfor%}
      <hr class="bg-success">
      <h6 id="health" class="animated fadeIn">All available Police and Health centers</h6>
      <br>
      <ul class="list-group">
        <li class="list-group-item">Mash</li>

      </ul>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h4>Next Door Trending News</h4>
          <form class="" enctype="multipart/form-data" action="/feeds/neighbour/" method="post">
            {%csrf_token%}
            {%bootstrap_form form layout='inline'%}
            <button id='upload' class="btn btn-success btn-sm" type="submit" name="button">Post </button>
          </form>
        </div>

      </div>
      <br>

      <div class="feeds">
        {%for fed in feed%}
        <div class="card">
          <div class="card-header">
            {{fed.user}}
          </div>
          <p>{{fed.post}}</p>
          <img class="img-fluid" src="{{fed.image.url}}" alt="">
          <div class="card-footer">
            <i></i>
          </div>
        </div>
        {%endfor%}

      </div>

    </div>
    <div class="col-md-3">
      <p class="alert alert-success">Businesses nearby  </p>
      {%if business%}
      {%for busi in business%}
        <ul class="form-group">
          <li class="list-group-item">{{busi.businessesName}}</li>
        </ul>
      {%endfor%}
      {%else%}
      <p class="alert alert-info">Hi <strong>{{user}}</strong> No business  has been registered yet in your area <br>
          <a href="">Add a business</a>
      </p>
      {%endif%}
    </div>

  </div>


</div>

{%endblock%}
